*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    min-height: 900px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 110px rgb(0, 0, 0);

    gap: 30px;

}
.card1{
    height: 55%;
    width: 370px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20PX;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;                
}
.card1 img{
    height: 70%;
    border-radius: 20px ;
}
.card1 h2{
    font-size: 38px;
    font-weight: bold;
}
.card1 p{
    font-size: 1.2em;
    padding-top: 10px;
    text-align: justify
}

.card2{
    height: 55%;
    width: 370px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card2 img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card2 h2{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
.card2 p{
    text-align: center;
    padding: 0px 35px 0px 35px;
    font-size: 15px;
}
.card2 .payment{
    width: 85%;
    height: 10%;
    border-radius: 10px;
    background-color: #97D9E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
}
.card2 button{
    width: 85%;
    height: 9%;
    border-radius: 10px;
    background-color: rgb(62, 62, 104);
    color: white;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
}
.card2 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: rgb(43, 37, 37);
}
.left{
    display: flex;
    gap: 2px;
    max-height: 100%;
    overflow-y: hidden;
}
.left img{
    width: 15%;
    padding-right: 0px;
}
.left p{
    text-align: left;
    width: 80%;
    padding-left: 30px;
}
.right a{
    text-decoration: underline;
    font-size: 15px;
   color: blue;
}
.card2 button:hover{
    transform: scale(1.04);
    transform: all 0.6s linear ;
}
.card2 a:hover{
    transform: scale(1.04);
    transform: all 0.6s linear ;
}
.card2 button:active{
    background-color: brown;
}